h1{
    color:black;
    font-size: 50px;
    font-family: sans-serif;
    font-style: oblique;
    text-align: center;
    animation: cambioColor 10s infinite;
}
@keyframes cambioColor {
    0% {background-color: red;}
    25% {background-color: blue;}
    50% {background-color: green;}
    75% {background-color: yellow;}
    100% {background-color: red;}
}
img:hover {
    filter: grayscale(45)
}
button:active {
    background-color: #4CAF50;
    transform: scale(1.3);
}
.contenedor_del_boton{
    text-align: center;
}

