#tarjetas {
    display: flex;
    background-color: rgb(55, 31, 238);
    gap: 120px;
    padding: 20px;
    flex-wrap: wrap;      
}
.rectangulo {
    background-color: rgb(255, 255, 255);
    width: 120px ;
    height: 120px;
    border-radius: 10px;
}
#cuerpo {
    margin: 1px ;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    gap: 10px;
    height: 500px;
    width: auto;
}
.cuadrado-interno {
    width: 100px;
    height: 100px;
    border: 10px;
    align-self: center;
background-color: rosybrown;
}