    h1 {
        transition:8s background-color linear,3s color linear ;
        color: #B00020;
        text-align: center;
        text-decoration: underline none;
        background-color: bisque;
    }
    h2 {
        color: #024a1e;
        text-decoration: indianred;
    }
    h3 {
        transition:3s background-color linear;
        color: #b45f06;
    }
    .utensilios {
        margin: 5px 5px;
        padding: 20px 20;
        background-color: rgb(152, 158, 156);
    }
    .ingredientes {
        background-color: #c0c1be;
        padding: 50;
        margin: 5px 5px;
    }
    .acocinar {
        border-width: 5px;
        border-style: dashed;
        border-color: #cc0000; 
    }
    li { 
        margin-bottom: 8px;
        color: #4b2e05;
    }
    p {
        text-align: center;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: bold;
        }
    .section {
        border: 3px solid #000000;
        padding: 20px ;
        margin: 30px 0px;
    }
    /* PARA PASAR POR ENCIMA DEL MAUSE */
    p:hover {
        color: #ff0000;
        background-color: #ffff00;
    }
    p:active {
        color: #00ff00;
        background-color: #0000ff;
    }
    p:first-child {
        background-color:yellow ;
    }