
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f9;
            font-family: 'Arial', sans-serif;
        }

        section {
            text-align: center;
            margin-bottom: 20px;
        }

        h2 {
            color: #333;
        }

        .boton1 {
            padding: 15px 30px;
            font-size: 18px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        }

        .boton1:hover {
            background-color: #0056b3;
        }